@{
    ViewData["Title"] = "Index";
}

<h2>HelloWorld Index</h2>

<p>Welcome to the HelloWorld controller!</p>

<ul>
    <li><a href="/HelloWorld/Welcome?name=Rick&numTimes=5">Welcome Rick (5 times)</a></li>
    <li><a href="/HelloWorld/Welcome?name=John&numTimes=3">Welcome John (3 times)</a></li>
</ul>